# Byte-compiled / optimized / DLL files
__pycache__/

# Jupyter Notebook
.ipynb_checkpoints

# python cache
.pyc

# data are too large to store on github local copies are stored in data folder
/data/*


# R files
.RData
.Rhistory

# do not add .tsv indexes
5.sc_Morphology_Logistic_Regression/0.split_data/indexes/*
5.sc_Morphology_Logistic_Regression/2.test_model/results/single_class/*

