# Byte-compiled / optimized / DLL files
__pycache__/

# Jupyter Notebook
.ipynb_checkpoints

# python cache
.pyc

# data are too large to store on github local copies are stored in data folder
/data/*

# R files
.RData
.Rhistory

# results
1.Exploratory_Data_Analysis/results/*
2.Nomic_nELISA_Analysis/0.Exploratory_Analysis/PBMC/results/*
# all csvs in 6.bulk_Morphology_Elastic_Network
6.bulk_Morphology_Elastic_Network/**/*.csv

# do not add .tsv indexes
5.sc_Morphology_Logistic_Regression/0.split_data/indexes/*
5.sc_Morphology_Logistic_Regression/2.test_model/results/single_class/*

# vscode
.vscode/

# model results
4.sc_Morphology_Neural_Network_MLP_Model/results/*
# model indexes
4.sc_Morphology_Neural_Network_MLP_Model/0.hyperparameter_optimization/indexes/*

# index files
4.sc_Morphology_Neural_Network_MLP_Model/0.hyperparameter_optimization/indexes/*
6.bulk_Morphology_Elastic_Network/0.split_data/indexes/*

# results
6.bulk_Morphology_Elastic_Network/1.train_models/models/*

# model indexes
4.sc_Morphology_Neural_Network_MLP_Model/0.hyperparameter_optimization/indexes/*

# model results
7.redundancy_analysis/results/*
# Rplots intermediate files
*Rplots.pdf

8.cytopick_analysis/figures/*
8.cytopick_analysis/results/*
